body {
    text-align: center;
    background-color: #f0f0f0;
}
footer{
  background-color: rgba(0, 0, 0, 0.2)
}
  
  table{
    margin: 0 auto;
  }

.navbar{
  display: flex;
  justify-content:space-between;
  width: 100%;
  background-color: rgba(255,255,255,0.95);
  padding: 1%;
}
/*
Container
*/
.steckbrief, .Verbreitung, .Bedrohung, .imZoo, .einleitungsText{
  width: 65%;
  margin: 0 auto;
  background-color: white;
  border-radius: 20pt;
  padding: 1%;
}

img {
  width: 75%;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.text-center {
  text-align: center;
}